@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    padding-left: 5%;
    overflow: hidden;
}

.portrait{
    position: relative;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 26px -4px rgba(255, 255, 255, 0.75);
}

.photo{
    position: absolute;
    width: 12%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:10%;
    transition: .5s ease-in-out;
    margin-top: 20%;
    margin-left: -86%;
    box-shadow: 0px 0px 26px -4px rgba(255, 255, 255, 0.75);
}
.photo:hover{
    transition: .5s ease-in-out;
    transform: rotate(-2deg);
}

.portrait:hover{
    position: relative;
    transition: .5s ease-in-out;
    transform: rotate(-2deg);
}
.text{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 4%;
    padding-left: 4%;
}
.txt{
    position: relative;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: 'Kalam', 
    cursive;
    text-align: justify;
    font-weight: 400;
    
}
.name{
    position: relative;
    color: white;
    font-size: 2rem;
    font-family: 'Kalam', cursive;
    font-weight: 700;
    transition: .4s ease;
}
.name:hover{
    position: relative;
    transition: .4s ease;
    box-shadow: 0px 0px 26px -4px rgba(255, 255, 255, 0.75);
}
.about{
    position: relative;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}